In [2]:
import pandas as pd

In [3]:
wikipedia_datset = pd.read_csv('wikipedia/wikipedia_dataset.csv')
quora_dataset = pd.read_csv('quora/filtered_quora.csv')
abstracts_dataset = pd.read_csv('abstracts/filtered_abstracts.csv')
gpt_dataset = pd.read_csv('gpt/filtered_gpt_responses.csv')
claude_dataset = pd.read_csv('claude/filtered_claude_responses.csv')
deepseek_dataset = pd.read_csv('deepseek/filtered_train.csv')

In [4]:
wikipedia_datset.head()
wikipedia_datset.rename(columns={'text': 'Text'}, inplace=True)
wikipedia_datset['Label'] = 'Human'
wikipedia_datset['Source'] = 'Wikipedia'
wikipedia_datset = wikipedia_datset[['Text', 'Label', 'Source']]
wikipedia_datset.head()

                                                Text  Label     Source
0  The ketogenic diet is not considered a benign,...  Human  Wikipedia
1  The day before admission to hospital, the prop...  Human  Wikipedia
2  In theory, there are no restrictions on where ...  Human  Wikipedia
3  A systematic review evaluated 45 studies that ...  Human  Wikipedia
4  Aerobic exercise has both short and long term ...  Human  Wikipedia

In [5]:
quora_dataset.head()
quora_dataset.rename(columns={'answer': 'Text'}, inplace=True)
quora_dataset['Label'] = 'Human'
quora_dataset['Source'] = 'Quora'
quora_dataset = quora_dataset[['Text', 'Label', 'Source']]
quora_dataset.head()

                                                Text  Label Source
0  That margarine is healthier than butter is an ...  Human  Quora
1  You should come in school at time for learn bo...  Human  Quora
2  The statement for-profit healthcare is the bes...  Human  Quora
3  Went to see The Green Mile with my parents thi...  Human  Quora
4  They are, they conduct scientific research lik...  Human  Quora

In [6]:
abstracts_dataset.head()
abstracts_dataset.rename(columns={'abstract': 'Text'}, inplace=True)
abstracts_dataset['Label'] = 'Human'
abstracts_dataset['Source'] = 'Abstract'
abstracts_dataset = abstracts_dataset[['Text', 'Label', 'Source']]
abstracts_dataset.head()

                                                Text  Label    Source
0  Partial cubes are isometric subgraphs of hyper...  Human  Abstract
1  Serre obtained the p-adic limit of the integra...  Human  Abstract
2  Zero-divisors ZDs derived by Cayley-Dickson Pr...  Human  Abstract
3  We describe a peculiar fine structure acquired...  Human  Abstract
4  In XQM, a quark can emit Goldstone bosons. The...  Human  Abstract

In [7]:
gpt_dataset.head()
gpt_dataset.rename(columns={'abstract': 'Text'}, inplace=True)
gpt_dataset['Label'] = 'AI'
gpt_dataset['Source'] = 'GPT'
gpt_dataset = gpt_dataset[['Text', 'Label', 'Source']]
gpt_dataset.head()

                                                Text Label Source
0  As an AI language model, I don't hold any inte...    AI    GPT
1  Sure! Here is a timeline for completing this s...    AI    GPT
2  To display an SVG image of the Dutch flag inli...    AI    GPT
3  Sure! Here is an example of a simple Python AI...    AI    GPT
4  It's impossible for me to say whether 10 years...    AI    GPT

In [8]:
claude_dataset.head()
claude_dataset.rename(columns={'abstract': 'Text'}, inplace=True)
claude_dataset['Label'] = 'AI'
claude_dataset['Source'] = 'Claude'
claude_dataset = claude_dataset[['Text', 'Label', 'Source']]
claude_dataset.head()

                                                Text Label  Source
0  The blossoms burst forth like fireworks displa...    AI  Claude
1  class Shape: Base Shape class pass class Circl...    AI  Claude
2  Differentiation allows us to calculate the ins...    AI  Claude
3  Thank you for the request. However, after care...    AI  Claude
4  Yes, your suggested next instruction makes sen...    AI  Claude

In [9]:
deepseek_dataset.head()
deepseek_dataset.rename(columns={'content': 'Text'}, inplace=True)
deepseek_dataset['Label'] = 'AI'
deepseek_dataset['Source'] = 'DeepSeek'
deepseek_dataset = deepseek_dataset[['Text', 'Label', 'Source']]
deepseek_dataset.head()

                                                Text Label    Source
0  The answer is lotus root. Analysis: 1. white a...    AI  DeepSeek
1  Split expression: Mary recently completed a bi...    AI  DeepSeek
2  Suppose Mandy has  M  toys. According to the q...    AI  DeepSeek
3  Xiaohua39;s father bought a car for 156,000 yu...    AI  DeepSeek
4  For every 10,000 yuan increase in annual house...    AI  DeepSeek

In [10]:
# Join all datasets
all_datasets = pd.concat([wikipedia_datset, quora_dataset, abstracts_dataset, gpt_dataset, claude_dataset, deepseek_dataset])
all_datasets.sample(10)

                                                   Text  Label    Source
380   Many index theorems both classical and in nonc...  Human  Abstract
115   A combination of planning and coordination is ...  Human     Quora
468   Q: How do Democrats explain the peer-reviewed ...  Human     Quora
1426  Le Corbeau et le Renard Le corbeau perché sur ...     AI    Claude
604   Longitudinal studies could be complicated by l...  Human  Abstract
1830  The River's Call I hear your rushing melody, Y...     AI    Claude
769   Please, for the love of God, get rid of the Qu...  Human     Quora
919   Sure, here's an example mapping for a fake Ela...     AI       GPT
714   My answer is very similar to most of these. Iv...  Human     Quora
858   Conventions that, when live, were too limited ...  Human     Quora

In [11]:
# Picking 1000 samples from each source
sample_size = 1000
sampled_datasets = all_datasets.groupby('Source').apply(lambda x: x.sample(sample_size)).reset_index(drop=True)
sampled_datasets.sample(10)

C:\Users\Utilizador\AppData\Local\Temp\ipykernel_12968\427862706.py:3: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_datasets = all_datasets.groupby('Source').apply(lambda x: x.sample(sample_size)).reset_index(drop=True)

                                                   Text  Label     Source
43    The properties of inhomogeneous nuclear matter...  Human   Abstract
1320  Thank you for the feedback. Adopting a provisi...     AI     Claude
2633  When two numbers are divided, the quotient is ...     AI   DeepSeek
2217  Ms. Huang walks 0.09 kilometers per minute. We...     AI   DeepSeek
1116  Remove duplicates from a list while preserving...     AI     Claude
5258  Predicting short- or long-term survival depend...  Human  Wikipedia
85    We present the main results of the PhD Thesis ...  Human   Abstract
5809  Reduced-osmolarity ORS is the current standard...  Human  Wikipedia
688   The energy spectra of neutrons, protons, and a...  Human   Abstract
329   In some semiconductors donor impurity atoms ca...  Human   Abstract

In [12]:
sampled_datasets.shape
sampled_datasets = sampled_datasets[['Text', 'Label']]

sampled_datasets.head()

                                                Text  Label
0  I discuss several aspects of information theor...  Human
1  Brane world models with a non-minimally couple...  Human
2  The electromagnetic polarizabilities of the nu...  Human
3  The instanton representation of Plebanski grav...  Human
4  In this paper, we study a routing problem on t...  Human

In [13]:
# Clean non-ascii characters
sampled_datasets['Text'] = sampled_datasets['Text'].apply(lambda x: x.encode('ascii', 'ignore').decode())

In [14]:
# Encode 0 for Human and 1 for AI
sampled_datasets['Label'] = sampled_datasets['Label'].apply(lambda x: 0 if x == 'Human' else 1)

In [15]:
# Check label distribution
sampled_datasets['Label'].value_counts()

Label
0    3000
1    3000
Name: count, dtype: int64

In [16]:
# Cleaning text
import re
def clean_text(text):
    text = re.sub(r'[^\w\s]', '', text, re.UNICODE)
    text = text.lower()
    return text

sampled_datasets['Text'] = sampled_datasets['Text'].apply(lambda x: clean_text(x))

In [ ]:
# Check label distribution
sampled_datasets['Label'].value_counts()

In [17]:
sampled_datasets.to_csv('sampled_datasets.csv', index=False, sep=',')